<br>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center align-items-center p-5">
    <!-- <div class="section-divider"></div> -->

    <div class="col">
        <div class="card text-bg-dark">
            <div class="card-body d-flex justify-content-center align-items-center p-5">
                <h5 class="card-title">WEB DESIGN</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-bg-light">
            <div class="card-body d-flex justify-content-center align-items-center p-5">
                <h5 class="card-title">MOBILE DESIGN</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-bg-dark">
            <div class="card-body d-flex justify-content-center align-items-center p-5">
                <h5 class="card-title">LOGO DESIGN</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-bg-light">
            <div class="card-body d-flex justify-content-center align-items-center p-5">
                <h5 class="card-title">WEB APPLICATION DEVELOPMENT</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-dark">
            <div class="card-body d-flex justify-content-center align-items-center p-5">
                <h5 class="card-title">MOBILE APPLICATION DEVELOPMENT</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-bg-light">
            <div class="card-body d-flex justify-content-center align-items-center p-5">
                <h5 class="card-title">PWA DEVELOPMENT</h5>
            </div>
        </div>
    </div>
    <div class="section-divider"></div>

</div>