<footer class="footer-section">
    <div class="footer-section-content">
        <div class="contact-info">
            <p>GET IN TOUCH</p>
            <p><i class="fas fa-envelope"></i> rinaehab11&#64;gmail.com</p>
            <p><i class="fas fa-phone"></i> +20 1282641553 </p>
        </div>
        <a href="#" class="btn btn-dark">Contact Me</a>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <p>Copyright © 2023</p>
        </div>
    </div>
</footer>